.events-list {
  background-color: hsl(189, 100%, 88%);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.events-list h1 {
  font-size: 8vw;
  color: hsl(240, 73%, 51%);
  font-weight: bold;
  margin-bottom: 20px;
}

.event {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3vh;
  margin-bottom: 3vh;
  border-width: 2px;
  border-color: hsl(240, 73%, 0%);
  border-radius: 5px;
  background-color: hsl(240, 73%, 100%);
}

.add-event {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.5vw;
  font-weight: bold;
  text-decoration-line: underline;
}

.information {
  display: flex;
  flex-direction: column;
  background-color: hsl(240, 73%, 100%);
}

.image {
  width: 40vw;
  height: 25vw;
}

.information h2 {
  font-size: 20px;
  font-weight: bold;
}
